export(dataPairWiseSimilarityMatrix)
export(entropy.of.partition)
export(generate.partitions)
export(mutual.information.two.partitions)
export(normalized.mutual.information)
export(partition)
export(partition.set)
export(variation.of.information)
export(visu.partition.set)
